<h2>Quins sensors sincronitzen?</h2>
<p>Aquí hi ha un llistat dels sensors que han sincronitzat darrerament</p>

<table st-table="rowCollection" class="table table-striped">
	<thead>
		<th>Sensor</th>
		<th>Bateria</th>
		<th>Quan?</th>
		<th>Data</th>
	</thead>
	<tbody>
		<tr ng-repeat="x in test.result.items">
			<td>{{x.sensor}}</td>
			<td>{{x.BAT}} %</td>
			<td><span>{{ x.timestamp | amSubtract : '2' : 'hours'|amTimeAgo}}</span></td>
			<td>{{ x.timestamp }}</td>
		</tr>
	</tbody>
</table>
<p>
	<button ng-click="test.reload()">Recarrega</button>
</p>
